In [3]:
[[0] * 6 for _ in range(5)]

[[0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

In [21]:
class Timetable:
    
    def __init__(self):
        time_table = dict()
        mon_list = tue_list = wed_list = thu_list = fri_list = [0]*6
        time_table['Monday'] = mon_list
        time_table['Tuesday'] = tue_list
        time_table['Wednesday'] = wed_list
        time_table['Thursday'] = thu_list
        time_table['Friday'] = fri_list
        self.timetable = time_table

    def display_timetable(self):
        for row,cols in self.timetable.items():
            print(row,cols)

    def check(self, day, course, position):
        if self.timetable[day][position] == 0:
            
            self.insert(day, course, position)
        else:
            print(f"Class slot at Day {day} Position {position} is occupied.")

    def insert(self, day, course, position):
        self.timetable[day][position] = course
        print(f"Class {course} successfully scheduled at Day {day} Position {position}.")

In [22]:
secA = Timetable()
secA.display_timetable()

Monday [0, 0, 0, 0, 0, 0]
Tuesday [0, 0, 0, 0, 0, 0]
Wednesday [0, 0, 0, 0, 0, 0]
Thursday [0, 0, 0, 0, 0, 0]
Friday [0, 0, 0, 0, 0, 0]

In [23]:
from NewBase import faculty_list

In [26]:
faculty_list[0]

In [14]:
time_table = dict()
mon_list = tue_list = wed_list = thu_list = fri_list = [0]*6
time_table['Monday'] = mon_list
time_table['Tuesday'] = tue_list
time_table['Wednesday'] = wed_list
time_table['Thursday'] = thu_list
time_table['Friday'] = fri_list
time_table

{'Monday': [0, 0, 0, 0, 0, 0],
 'Tuesday': [0, 0, 0, 0, 0, 0],
 'Wednesday': [0, 0, 0, 0, 0, 0],
 'Thursday': [0, 0, 0, 0, 0, 0],
 'Friday': [0, 0, 0, 0, 0, 0]}

In [17]:
mon_list = [0,1,0,1,1,1]
time_table['Monday'] = mon_list

In [18]:
time_table

{'Monday': [0, 1, 0, 1, 1, 1],
 'Tuesday': [0, 0, 0, 0, 0, 0],
 'Wednesday': [0, 0, 0, 0, 0, 0],
 'Thursday': [0, 0, 0, 0, 0, 0],
 'Friday': [0, 0, 0, 0, 0, 0]}

In [8]:
time_table['Tuesday']

[0, 0, 0, 0, 0, 0]

A - E = 5
majors 4 
faculty 19 

5 section time tables  + 19 faculty time tables

check 
1. faculty free?
2. section free?

In [11]:
class Timetable:
    
    def __init__(self, rows, cols):
        self.timetable = [[0] * cols for _ in range(rows)]

    def display_timetable(self):
        for row in self.timetable:
            print(row)

    def check(self, day, course, position):
        if self.timetable[day][position] == 0:
            
            self.insert(day, course, position)
        else:
            print(f"Class slot at Day {day} Position {position} is occupied.")

    def insert(self, day, course, position):
        self.timetable[day][position] = course
        print(f"Class {course} successfully scheduled at Day {day} Position {position}.")

In [12]:

## Section A --> timetable_1
timetable_1 = Timetable(5, 7)

timetable_1.check(0, "DECA", 5)
timetable_1.check(2, "DM", 0)
timetable_1.check(4, "CN", 3)
timetable_1.check(4, "DM", 3)
timetable_1.display_timetable()

Class DECA successfully scheduled at Day 0 Position 5.
Class DM successfully scheduled at Day 2 Position 0.
Class CN successfully scheduled at Day 4 Position 3.
Class slot at Day 4 Position 3 is occupied.
[0, 0, 0, 0, 0, 'DECA', 0]
[0, 0, 0, 0, 0, 0, 0]
['DM', 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 'CN', 0, 0, 0]